
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">+
        <!--1 -->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                            <h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    # @ViewBag.CarCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.CarCountProgress% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarCountProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Mevcut Lokasyonlar</span>
                            <h5 class="card-title mb-0 text-white">Lokasyon Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.LocationCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.LocationCountProgress% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.LocationCountProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif Yazarlar</span>
                            <h5 class="card-title mb-0 text-white">Yazar Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.AuthorCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.AuthorCountProgress% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AuthorCountProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif Bloglar</span>
                            <h5 class="card-title mb-0 text-white">Aktif Blog Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.BlogCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.BlogCountProgress% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.BlogCountProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!--1 -->

        <!--2 -->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif Markalar</span>
                            <h5 class="card-title mb-0 text-white">Marka Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.BrandCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.BrandCountProgress% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.BrandCountProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Günlük Kiralama</span>
                            <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.AverageRentPriceForDaily ₺
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.AverageRentPriceForDailyProgress% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AverageRentPriceForDailyProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Haftalık Kiralama</span>
                            <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.AverageRentPriceForWeekly ₺
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.AverageRentPriceForWeeklyProgress% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AverageRentPriceForWeeklyProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aylık Kiralama</span>
                            <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyatı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.AverageRentPriceForMonthly ₺
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.AverageRentPriceForMonthlyProgress% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AverageRentPriceForMonthlyProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!--2 -->

        <!--3 -->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Toplam Otomatik Vitesli Araç Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Otomatik Vitesli Araçlar</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                  #  @ViewBag.CarCountByTransmissionIsAuto
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.CarCountByTransmissionIsAutoProgress% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarCountByTransmissionIsAutoProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">En çok Araca Sahip Marka</span>
                            <h5 class="card-title mb-0 text-white">Marka Adı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                   # @ViewBag.BrandNameByMaxCar
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.BrandNameByMaxCarProgress% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.BrandNameByMaxCarProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">En Fazla Yorum Alan Blog</span>
                            <h5 class="card-title mb-0 text-white">Blog Adı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                   # @ViewBag.BlogTitleByMaxBlogComment
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.BlogTitleByMaxBlogCommentProgress% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.BlogTitleByMaxBlogCommentProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">1000 KM'den düşük araç sayısı</span>
                            <h5 class="card-title mb-0 text-white">Aktif Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.CarCountByKilometerLowerThan1000
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.CarCountByKilometerLowerThan1000Progress% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarCountByKilometerLowerThan1000Progress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!--3 -->

        <!--4 -->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Dizel ve Benzinli Araç Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Toplam Sayı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    # @ViewBag.CarCountByFuelGasolineOrDiesel
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.CarCountByFuelGasolineOrDieselProgress% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarCountByFuelGasolineOrDieselProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Elektrikli Araç Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Toplam Araç</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.CarCountByFuelElectric
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.CarCountByFuelElectricProgress% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarCountByFuelElectricProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Günlük En Düşük Fiyatlı Araç</span>
                            <h5 class="card-title mb-0 text-white">Araç Marka ve Modeli</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                   #  @ViewBag.CarBrandAndModelByRentPriceDailyMin
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.CarBrandAndModelByRentPriceDailyMinProgress% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarBrandAndModelByRentPriceDailyMinProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Günlük En Yüksek Fiyatlı Araç</span>
                            <h5 class="card-title mb-0 text-white">Araç Marka ve Modeli</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                   # @ViewBag.CarBrandAndModelByRentPriceDailyMax
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">@ViewBag.CarBrandAndModelByRentPriceDailyMaxProgress% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarBrandAndModelByRentPriceDailyMaxProgress%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!--4 -->
    </div>
</div>